@charset "UTF-80";

@import url('https://fonts.googleapis.com/css2? família=Bebas+Neue&display=swap');
@font-face {
    font-family: 'IDroid', serif;
    src: url('fontes/idroid/IDroid.otf')
    format('OpenType');
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: #EBE5C5;
   
}  
header{
    text-align: center;
    background-image: linear-gradient(to bottom,#2A9C5E,#0C4E29, #063D1E);
    color: white;
    padding: 50px;
    padding-bottom: 10px;
    padding-left: 40px;
    width: 100%;
}
header > h1{
 font-family: 'Bebas Neue', sans-serif; 
 font-size: 2.6em;
  padding-right: 40px;
 
}
header > p{
    font-size: 1.1em;
   padding-top: 20px;
}
nav{
    text-align: left;
   padding-top: 35px;
    margin-left: -30px;
}
nav > a{
    padding-right: 15px;
    text-decoration: none;
    color: #A8EAC6;
}
nav > a:hover{
    color: #063D1E;
    background-color: #2FA866;
    transition-duration: 0.9s;
    border-radius: 15px;
    padding: 5px;
}
main#container{
    margin: auto;
    min-width: 480px;
    max-width: 1000px;
    min-height: 400px;
    background-color: white;
    box-shadow: 0px 0px 7px black;
    border-radius: 0px 0px 8px 8px;
}
article > h1{
    font-family: 'IDroid', cursive;
    color: #063D1E;
    margin-left: 20px;
    padding-top: 15px;
}
article > p{
    text-align: justify;
    font-size: 1em;
    text-indent: 22px;
    line-height: 2.2em;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-right: 15px;
    margin-left: 15px;
}
h2{
    font-family: 'IDroid', cursive;
  background-image: linear-gradient(to right,#A8EAC6 ,#F4FDF8);
  color: #0C4E29;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
}
strong{
    color: #0C4E29;
}
 strong > a{
    text-decoration: none;
    background-color: #A8EAC6;
    color: #0C4E29;
}
strong > a:hover{
    text-decoration: underline;
}
picture.irina > img{
padding-left: 18px;
}
picture.bug > img{
  width: 50%;
  margin-left: 50px;
  padding-left: 50px;
}
div.video{
    background-color: #063D1E;
    padding: 0px;
    padding-bottom: 58%;
    position: relative;
    width: 100%;
}
iframe{
    position: absolute;
    top: 5%;
    left: 7%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: #A8EAC6;
    margin: 20px;
    border-radius: 15px;
}
aside > h3{
    background-color: #0C4E29;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
aside > p{
    text-align: justify;
    text-indent: 20px;
    padding: 20px 15px 0px 10px;
    line-height: 2em;
}
ul{
    list-style: '\2714 \FE0F';
    list-style-position: outside;
    columns: 2;
    margin-left: 30px;
}
main#container > p{
    text-align: justify;
    text-indent: 15px;
    padding: 0px 20px 20px 10px;
   margin: 0px 0px 10px 10px;
}
footer{
    text-align: center;
    font-size: 0.8em;
    background-color: #0C4E29;
    color: white;
    margin-top: 30px;
    padding: 4px;
}
footer > p > a{
    color: white;
    text-decoration: none;
}
footer > p > a:hover{
    text-decoration: underline;
    color: #A8EAC6;
}